<VirtualHost *:81>
    ServerName {{ domain }}
    ServerAlias www.{{ domain }}
    DocumentRoot {{ wpdirectory }}DOC_ROOT/
    ErrorLog {{ wpdirectory }}LOGS/apache/error.log
    CustomLog {{ wpdirectory }}LOGS/apache/custom.log common

    <Directory {{ wpdirectory }}DOC_ROOT/>
        Require all granted
        AllowOverride all
    </Directory>

</VirtualHost>
