server {
  listen 80;
  server_name {{ domain }};
  access_log {{ wpdirectory }}LOGS/nginx/access.log;
  error_log  {{ wpdirectory }}LOGS/nginx/error.log;

  error_page 404 /;

  location /wp-includes/ {
    alias {{ wpdirectory }}DOC_ROOT/wp-includes/;
    autoindex off;
  }

  location / {
    proxy_pass http://{{ domain }}:81/;
    proxy_set_header Host $host;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Forwarded-For $remote_addr;
    proxy_set_header X-Forwarded-Proto $scheme;
  }
}

#server {
#  listen 80;
#  server_name www.{{ domain }};
#  location / {
#    return 301 http://{{ domain }};
#  }
#}
