<VirtualHost *:81>
    ServerName {{ domain }}
    ServerAlias www.{{ domain }}
    DocumentRoot {{ site_dir }}DOC_ROOT/
    ErrorLog {{ site_dir }}LOGS/apache/error.log
    CustomLog {{ site_dir }}LOGS/apache/custom.log common

    <Directory {{ site_dir }}DOC_ROOT/>
        Require all granted
        AllowOverride all
    </Directory>

</VirtualHost>
