server {
  listen 80;
  server_name {{ domain }};
  access_log {{ site_dir }}LOGS/nginx/access.log;
  error_log  {{ site_dir }}LOGS/nginx/error.log;

  error_page 404 /;

  location /static/ {
    alias {{ site_dir }}DOC_ROOT/static/;
    autoindex off;
  }

  location / {
    proxy_pass http://{{ domain }}:81/;
    proxy_set_header Host $host;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Forwarded-For $remote_addr;
    proxy_set_header X-Forwarded-Proto $scheme;
  }
}
